body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #f8f8f8;
  padding: 10px 0;
}

.nav-container {
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  height: 40px;
}

.logo-img {
  width: 100%;
  height: 100%;
}

.nav-links {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
  list-style: none;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-right: 50px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-links a.active,
.nav-links a:hover {
  color: red;
}

.search-bar {
  float: right;
  margin-top: 12px;
}

.search-bar input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  vertical-align: middle;
}

.banner {
  background: #eee;
  padding: 40px;
  overflow: hidden;
  width: 90%;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.banner-content {
  width: 45%;
  float: left;
}

.banner h1 {
  font-size: 2rem;
}

.banner-image {
  width: 45%;
  float: right;
  height: 200px;
  background: #ddd;
}

.banner-img {
  width: 100%;
  height: 100%;
}

.cta {
  background: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.cta:hover {
  transform: scale(1.02);
  background: darkred;
}

.cards-wrapper {
  background: #eee;
  padding: 40px;
  overflow: hidden;
  width: 90%;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.cards {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

article {
  width: 30%;
  float: left;
  margin: 0 1.5%;
  background: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

article h2 {
  margin-bottom: 40px;
}

article a {
  text-decoration: none;
  color: red;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

article a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: red;
  transition: width 0.3s ease-in-out;
}

article a:hover::after {
  width: 100%;
}

.card-image {
  height: 150px;
  background: #ddd;
  margin-bottom: 10px;
  transition: transform 0.4s ease-in-out;
}

.card-image:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  height: 100%;
}

footer {
  background: #f8f8f8;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  clear: both;
}

.footer-image {
  float: left;
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 20px;
  height: 40px;
}

.footer-links {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
  list-style: none;
  padding: 0;
}

.footer-links a {
  display: inline;
  margin-right: 60px;
  text-decoration: none;
  color: #333;
}

.footer-icons {
  /* margin-top: 10px; */
  float: right;
  vertical-align: middle;
  margin-left: 30px;
  margin-right: 20px;
  list-style: none;
  padding: 0;
}

.footer-icons a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-size: 20px;
  transition: 0.3s;
}

.footer-icons a:hover {
  color: red;
}

footer p {
  color: red;
  font-weight: bold;
  margin-top: 50px;
}

footer p a {
  text-decoration: none;
  color: red;
  margin: auto 70px;
}
